version: '3'

services:
  nodejs:
    build:
      context: .
      dockerfile: dockerfile.prod
    image: nodejs
    container_name: nodejs
    restart: unless-stopped
    environment:
      ATTACHED_VOLUME_ROOT: /usr/src/attached-volume/
    networks:
      - app-network
    volumes:
      - .:/usr/src/app
      - /usr/src/app/node_modules
      - node-file-data:/usr/src/attached-volume

  # for rsync'ing and changing a volume 
  sshd:
    build:
      context: .
      dockerfile: dockerfile.sshd
      args: 
        AUTHORIZED_KEYS: ${AUTHORIZED_KEYS}
    container_name: sshd
    depends_on:
      - nodejs
    networks:
      - app-network
    ports:
      - "2222:22"
    volumes:
      - node-file-data:/usr/src/attached-volume

  # builder:
  #   container_name: builder
  #   build:
  #     context: .
  #     dockerfile: nodebuilder.dockerfile
  #   volumes:
  #    - node-file-data:/usr/src/attached-volume

  # # dynamic builder 
  # dbuilder:
  #   container_name: $DBUILDER_NAME
  #   build:
  #     context: $DBUILDER_CONTEXT
  #     dockerfile: $DBUILDER_DOCKERFILE
  #     #$DBUILDER_CONTEXT
  #     #$DBUILDER_DOCKERFILE
  #     #args: 
  #     #  DBUILDER_WORKDIR: $DBUILDER_WORKDIR
  #   volumes:
  #     - node-file-data:/usr/src/attached-volume

  webserver:
    image: nginx:mainline-alpine
    container_name: webserver
    restart: unless-stopped
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - web-root:/var/www/html
      - ./docker-config/nginx-conf:/etc/nginx/conf.d
    depends_on:
      - nodejs
    networks:
      - app-network

  mydb:
    image: postgres
    container_name: mydb
    restart: unless-stopped
    environment:
      POSTGRES_PASSWORD: postgres
      POSTGRES_USER: postgres
      POSTGRES_DB: seconddb
    networks:
      - app-network
    volumes:
      - db-data:/var/lib/postgresql/data
    expose: # internal links
      - 5432
    # ports:
    #   - 5432:5432

  cachedb:
    image: redis
    container_name: cachedb
    expose:
      - 6379
    networks:
      - app-network
    volumes:
     - redisdata:/data

  ipfs:
    image: ipfs/go-ipfs
    container_name: ipfs
    restart: unless-stopped
    expose: # internal links
      - 4001
      - 5001
      - 8080
    # externally available ports
    # - 5010: api endpoint 
    ports: 
      - 4001:4001
      # - 5010:5001
      # - 8081:8080 
    volumes:
      - ipfs-data:/data
    networks:
      - app-network

volumes:
  db-data:
    driver: local
  node-file-data:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /usr/src/attached-volume
  web-root:
    driver: local
  ipfs-data:
    driver: local
  redisdata:
    driver: local

networks:
  app-network:
    driver: bridge 
  default:
    driver: bridge 